AZURE_AD_CLIENT_ID=3a2d800f-fb1b-4071-aa8a-621e493fe942
AZURE_AD_CLIENT_SECRET=your-secret-here
AZURE_AD_TENANT_ID=ed8c2097-9fa9-4265-96cc-4a640e0ca074
NEXTAUTH_URL=https://prodify-reports.vercel.app
NEXTAUTH_SECRET=generate-with-openssl-rand-base64-32
